footer.footer
    .card__footer
        - for(let i = 0;i < 3;i++)
            h3.footer_title Random Stuff
            .dates
                a.dates__item(href='#') #{etiam}
                a.dates__item(href='#') #{aliquam}
                a.dates__item(href='#') #{sed}
                a.dates__item(href='#') #{felis} 
                a.dates__item(href='#') #{nullam}

        h3.footer_title Contact Us
        .icons 
            img(src="/res/social/1491579583-yumminkysocialmedia02_83111.png", alt="social")
        .dates 
            p.dates__item #{address}
            p.dates__item #{city}
            p.dates__item #{phone}

        
        p.card__subText Untitled. All rights reserved